a {
  text-decoration: none !important;
}

.first_subtext {
  font-size: 3rem;
}

.submit {
  background-color: #4cc241;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 10px;
  width: 50%;
  transition: ease-in 0.3s;
}
.notice {
  background-color: #ff7e00;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 10px;
  width: 50%;
  transition: ease-in 0.3s;
}

.submit:hover {
  border: 5px solid rgba(255, 255, 255, 0.384);
}
.notice:hover {
  border: 5px solid rgba(255, 255, 255, 0.384);
}

.carousel-caption {
  position: relative;
  bottom: 20rem !important;
}


/* .carousel-item {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/carousel-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */


/* Responsiveness */

@media screen and (max-width: 767px) {
  .submit {
    width: 100%;
  }
  .notice {
    width: 100%;
  }

  .carousel-caption h5{
    font-size: 15px;
  }

  .carousel-caption {
    position: relative;
    bottom: 5px !important;
  }
  .first_subtext {
    font-size: 20px;
  }
}
@media screen and (max-width: 1023) {
  .submit {
    width: 100%;
  }
   
  .notice {
    width: 100%;
    font-size: 5px;
  }

  .carousel-caption h5{
    font-size: 15px;
  }

  .carousel-caption {
    position: relative;
    /* bottom: 5rem !important; */
  }
  .first_subtext {
    font-size: 20px;
  }
}
